extends ../components/base/layout

block variables
  - const title = "Тестовое задание .div" //- на страницах кроме главной используйте О нас — ProjectName
  -
    const content = {
      title : 'они должны что-то знать',
      nav : [
        {
          text: 'Подсказки',
          href: '#'
        },
        {
          text: 'Подсказки',
          href: '#'
        },
        {
          text: 'Подсказки',
          href: '#',
          isActive: true
        },
        {
          text: 'Подсказки',
          href: '#'
        }
      ],
      scrollTo : 'Скрольте вниз',
      link: {
        text: 'hd.kinopoisk.ru',
        href: 'hd.kinopoisk.ru'
      },
      slides : [
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        },
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        }
        ,
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        }
        ,
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        }
        ,
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        }
        ,
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        }
        ,
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        }
        ,
        {
          img: 'slide-img',
          text: 'Для примера мы&nbsp;показали вам его лицо. В&nbsp;первой серии он&nbsp;прячется в&nbsp;подвале за&nbsp;мониторами, и&nbsp;пусть борода не&nbsp;собьёт вас с&nbsp;толку. Найдите героя и&nbsp;нажмите на&nbsp;паузу&nbsp;&mdash; ему не&nbsp;терпится отдать вам промокод.'
        }
      ]
    }

block main
  main
    +content()
      block content
        +logo()
        +title({tag: 'h1', text: content.title, lvl: '1'})
        +nav({links: content.nav})
        +scroll-to({text: content.scrollTo})
        +link({link: content.link})
        +slider({slider: content.slides})
      block bg
        +clouds()

