.content {
  background-image: url("../../img/content/background-clouds.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-row: 100%;

  &__container {
    padding: 20px 28px;
    display: grid;
    grid-row: 1/-1;
    grid-column: 1/-1;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    grid-template-rows: 24% 35% auto;
    align-items: flex-start;

    .logo {
      grid-area: header;
      justify-self: center;
      z-index: 2;
    }

    .title {
      grid-area: header;
      margin-top: 1%;
      align-self: center;
      z-index: 2;
    }

    .nav {
      margin-left: 8px;
      margin-top: 18px;
      grid-column: 1/2;
      grid-row: 1/3;
      height: 86%;
      z-index: 2;
    }

    .scroll-to {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: flex-end;
      justify-self: flex-start;
      z-index: 2;
    }

    .link {
      grid-area: main;
      align-self: flex-end;
      justify-self: flex-end;
      z-index: 2;
    }

    .slider {
      grid-area: main;
      width: 65%;
      margin-left: -9px;
      justify-self: center;
      grid-row: 2/4;
    }
  }
  .clouds {
    grid-row: 1/-1;
    grid-column: 1/-1;
    height: auto;
  }
}
