.scroll-to {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(180deg);
  margin-left: 2px;

  &__text {
    margin: 0;
    writing-mode: vertical-lr;
    margin-top: 24px;
    font-family: $ff-kinopoisk;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
  }

  svg {
    transform: rotate(180deg);
    height: 72px;
    width: 6px;
  }
}
