@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Futura";
  font-display: swap;
  src:
    url("../fonts/futura-bold.woff2") format("woff2"),
    url("../fonts/futura-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Kinopoisk";
  font-display: swap;
  src:
    url("../fonts/kinopoisk-bold.woff2") format("woff2"),
    url("../fonts/kinopoisk-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Kinopoisk";
  font-display: swap;
  src:
    url("../fonts/kinopoisk-semibold.woff2") format("woff2"),
    url("../fonts/kinopoisk-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Kinopoisk";
  font-display: swap;
  src:
    url("../fonts/kinopoisk-medium.woff2") format("woff2"),
    url("../fonts/kinopoisk-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Kinopoisk";
  font-display: swap;
  src:
    url("../fonts/kinopoisk-regular.woff2") format("woff2"),
    url("../fonts/kinopoisk-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Kinopoisk";
  font-display: swap;
  src:
    url("../fonts/kinopoisk-light.woff2") format("woff2"),
    url("../fonts/kinopoisk-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Kinopoisk";
  font-display: swap;
  src:
    url("../fonts/kinopoisk-lite.woff2") format("woff2"),
    url("../fonts/kinopoisk-lite.woff") format("woff");
}
